@model systemObslugiKlienta.Models.UserDataBase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDataBase</h4>
    <hr />
    

    @System.Text.Encoding.UTF8.GetString(Model.DataContent)
           
        

    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
