@model IEnumerable<string>

@{
    ViewBag.Title = "Index";
}

<h2>Client Database Management</h2>
<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            @foreach (var item in Model)
            {
                <a href="#"class="list-group-item" id="myButton">@Html.DisplayFor(modelItem => item)</a>
            }
        </div>
    </div>
    <div class="col-lg-3" id="rows">

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/TableRows.js")
}
